body {
    font-family: Arial;
    padding: 15px;
    background: #f5f5f5;
}

h2 {
    margin-bottom: 10px;
}

.wrap {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#searchInput {
    flex: 1;
    padding: 10px;
    font-size: 18px;
}

#voiceBtn {
    padding: 10px 14px;
    font-size: 20px;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
